<div>NewAlexandria.org has received a request to reset your password to our system.

If you did NOT make this request, please ignore this message, do nothing at all, and your password will not be reset.

If you DID make this request, please click on the following link: <a href="{{passwordResetLink}}">Reset Password</a></div>
